@media screen and (max-width: 1199px){
 .h2.text-right.mt-3{
  font-size: 1.4rem;
 }
 .blockquote.text-right{
  font-size: 0.9rem;
 }
 .text-contant{
  font-size: 0.9rem;
 }
 .list-services{
  display: none;
 }
 .list-services-small{
  display: block;
  margin-top: 15px;
  margin-left: 20px;
 }
 .footer-social.mt-3.w-25.mx-auto{
  width: 50%!important;
 }
 .list-services-small li{
  padding-top: 5px;
 }
 .footer-signature{
  padding-top: 5px;
 }
}
@media screen and (max-width: 991px){
  .logo-img{
  max-width: 768px;
  }
  .col.cent {
    text-align: center;
  }
  .mb-0{
    padding-left: 60%;
  }
}
  
@media screen and (max-width: 767px){
  .main-top-logo{
    display: none;
  }
  .mb-0{
    padding-left: 50%;
  }
  .text-contant{
  margin-top: 0px;
}
 .col-md-3.col-sm-12{
  padding-top: 15px;
 } 
 .gas{
  width:250px
  }
  .col.info{
    display: none;
  }
  .col.info-small{
  display: block;
}
}  