/*style for main page*/
.logo-img{
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.text-contant{
	margin-top: 40px;
}
.list-services-small{
	display: none;
}
footer.footer{
	background-color: #EBE8E8;
	margin-top: 45px;
	padding-bottom: 15px;
	border-top: 2px solid #CBC9C9;
	border-bottom: 2px solid #CBC9C9;
	text-align: center;
}
.footer-logo{
	margin-top: 10px;
	text-align: center;
}
.footer-logo-img{
	width: 60px;
	height: auto;
	margin-top: 10px;
}
.footer-social-img{
	width:45px;
	height:auto;
}
.footer-signature{
	margin-top: 10px;
}


/*style for news*/
.news-topic.w-75.mx-auto{
	font-size: 1.3rem;
	margin-top: 20px;
}
.news-content-img{
	width:60%;
	height:auto;
	float: left;
	margin-right: 15px;
}
.news-content.w-75.mx-auto{
	margin-top: 10px;
	border-bottom: 3px solid #CBC9C9;

}
.news-content-img-right{
	width:60%;
	height:auto;
	float: right;
	margin-right: 15px;
}
.news-content-text{
	font-size: 1.1rem;
	margin-top: 15px;
}


/*style for gallery*/
.name-album.w-75{
	text-align:left;
	border-bottom:3px solid #CBC9C9;
}
.gallery img{
	margin: 5px;
    border:3px solid #b6b5b2;
    object-position: top;
    object-fit: cover;
}
a.photo:hover img{
	border:3px solid #58544d;
}

/*style for contact*/
#map{
	width:100%;
	height: 300px;
}
.main-contant.w-75.mx-auto.contact{
	margin-top: 100px;
	border-top: 3px solid #CBC9C9;
	padding-top: 15px;
}
.col.info{
	margin-left: 20px;
	margin-top: 30px;
}
.col.info-small{
	display: none;
}